* { 
    margin: 0;
    padding: 0;
}

.container {
    height: 59px;
    background-color: grey;
}

li a {
    color: hotpink;
    text-decoration: none;
    text-align:center ;
    
}

ul {
    list-style-type: none;
    position: relative;
}

li {
    position: relative;
    float: left ;
    padding: 20px 50px 20px 50px;
    margin-left: 20%;
    text-align: center;
    
} 

li:hover {
    background-color: indianred;
}